.topbar {
    margin-bottom: 24px;
}

#tweetbox {
    width: 932px;
    height: 20px;
}

.tweet img {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 12px 0 0;
    float: left;
}

.new-tweet {
    background:  #D1FFFE;
    border-color: #ABEBEA;
}

.read-lang-select {
    float: right;
    clear: left;
    margin-top: 4px;
}