{% extends 'HackTranslateTranslateBundle::layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="span16">
            <form method="post" action="">
                <h3>What's happening?</h3>
                <p>
                    <textarea rows="7" cols="30" id="tweetbox"></textarea>
                </p>
                    <a class="btn">Tweet</a>
                    <select name="tweet-lang-select" id="tweet-lang-select">
                        <option value="en">English</option>
                        <option value="cy">Cymru</option>
                    </select>
            </form>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="span16">
            <h4>Select a language the tweets should be</h4>
            <select name="read-lang-select" id="read-lang-select">
                <option value="en">English</option>
                <option value="cy">Cymru</option>
            </select>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="span16">

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>
        </div>
    </div>

{% endblock %}
