{% extends 'HackTranslateTranslateBundle::layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="span16">

            <div class="alert-message success">
                <a class="close" href="#">×</a>
                <p><strong>Tweet Posted!</strong> Your translated tweet has been successfully posted.</p>
            </div>

            <form method="post" action="">
                <input type="hidden" name="sourceLang" id="sourceLang" value="en" />
                <h3>What's happening?</h3>
                <p>
                    <textarea rows="7" cols="30" id="tweetbox"></textarea>
                </p>
                    <a class="btn" id="tweet-btn">Tweet</a>
                    <select name="tweet-lang-select" id="tweet-lang-select">
                        <option value="en">English</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="th">Thai</option>
                        <option value="ru">Russian</option>
                        <option value="pl">Polish</option>
                        <option value="ar">Arabic</option>
                        <option value="he">Hebrew</option>
                    </select>
            </form>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="span16">
            <h4>Select a language the tweets should be</h4>
            <select name="read-lang-select" id="read-lang-select">
                <option value="en">English</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="th">Thai</option>
                        <option value="ru">Russian</option>
                        <option value="pl">Polish</option>
                        <option value="ar">Arabic</option>
                        <option value="he">Hebrew</option>
            </select>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="span16">

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>

            <div class="well tweet">
                <p>This is a tweet</p>
            </div>
        </div>
    </div>

{% endblock %}
